
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main main {
  flex: 1 0 auto;
}

.page-header, .page-sub-header {
  z-index: 2;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  height: 46px;

  background-color: white;
  position: sticky;
  top: 0px;
}

.page-header .logo {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: merienda;
  color: #1a237e;
  flex: 1;
}

.page-header .back-btn {
  cursor: pointer;
}

.page-header .title {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.page-sub-header {
  height: 40px;
}

.page-sub-header .title {
  font-weight: 600;
}

.footer {
  display: flex;
  padding: 0;
  border-top: 1px solid #eeeeee;

  z-index: 2;
  position: sticky;
  bottom: -2px;
}

.footer-items {
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-items .material-icons:hover {
  color: #3949ab !important;
  cursor: pointer;
}

.footer-items .material-icons.active {
  color: #3949ab !important;
}


.dropdown-content li > span, .dropdown-content li > a {
  color: #1a237e;
}