 .BucketList .content {
  padding: 1rem;
}

.BucketList .input-field {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.BucketList .bucket-field input {
  flex: 1;
  margin-top: 0;
  margin-right: 10px;
}

.BucketList .bucket-field i {
  padding-top: 10px;
}

.BucketList .btn-create {
  height: 48px;
}

.BucketList .bucketlist-collection {
  border: 0;
}

.BucketList .bucketlist-item {
  background: inherit !important;
  display: flex;
  padding-left: 10px !important;
  padding-right: 1px !important;
}

.BucketList .bucketlist-item:hover .left-icon{
  opacity: 1;
}

.BucketList .bucketlist-item .item-name {
  flex: 1;
  padding-left: 10px;
  line-height: 1.8
}

.BucketList .bucketlist-item .item-name.active {
  text-decoration: line-through;
}

.BucketList .bucketlist-item .left-icon {
  float: left;
  opacity: 0;
  cursor: pointer;
}

.BucketList .bucketlist-item .right-icon {
  float: right;
  cursor: pointer;
}

.BucketList .btn-create {
  margin-top: 1rem;
  width: 100%;
}

.BucketList .open-range {
  display: flex;
}

.BucketList .open-range label {
  flex: 1;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
  background-color: #1a237e !important;
  border-color: #1a237e !important;
}

.BucketList .datepicker-date-display {
  background-color: #1a237e;
}

.BucketList .datepicker-table td.is-selected {
  background-color: #1a237e;
}

.BucketList .datepicker-footer button {
  color: #1a237e;
}
