.SignIn .content {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.SignIn .hr {
  width: 100%;
  height: 1px;
  float: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.SignIn .btn {
  width: 100%;
  height: 48px;
  text-transform: none; 
}

.SignIn .facebook {
  text-transform: none;
  margin-top: 1rem;
}

.SignIn .reset-password {
  display: flex;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.SignIn .reset-password a {
  flex: 1;
  cursor: pointer;
}