.SignIn {
  background-color: white;
  max-width: 380px;
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px solid #e0e0e0;
}

.header {
  text-align: center;
  font-weight: 100;
}

.header h3 {
  padding: 1rem;
  font-family: merienda;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.hr {
  width: 100%;
  height: 1px;
  float: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-signin {
  width: 100%;
}

.btn-signin.facebook {
  text-transform: none;
  margin-top: 1rem;
}

.btn-signup {
  width: 100%;
  text-transform: none;
}

.reset-password {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.reset-password a {
  cursor: pointer;
}